<body>
  <div class="container">
    <div class="service_area">
      <div class="row">
       <%@planes.each do |plan|%>

       <div class="field" id="gg">
          <!--- Diegoku-->
         <h1><%=plan.id%></h1>
        </div>
        <div class="col-lg-4">
          <div class="service_block">
           
            <div class="service_icon delay-03s animated wow  zoomIn"> <span><i class="fa fa-hand-peace-o"></i></span> </div>
            <h3 class="animated fadeInUp wow">Plan <%=plan.nombre%></h3>
            <p class="animated fadeInDown wow" style="color: black"><strong><%=plan.descripcion%></strong></p>
            <p class="animated fadeInDown wow" style="color: black"> <strong><%=plan.precio%></strong></p>
            <br>
            <%if @pago_existe%>
              <p>Ya registra un pago</p>
            <%else %>

            <p class="animated fadeInDown wow"><%=link_to "Elegir",new_payment_path(:plan => plan),class: "button3"%></p>
            
            <%end%>
          </div>
          
        </div>
       <%end%>
        </div>
      </div>
      <div class="wrapper" style="text-align: center">
<%= link_to "  Volver  ", profesionales_path, class: "buttoncute" %>
</div>
    </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
        $("h1").hide();
    });
</script>