<p id="notice"><%= notice %></p>

<h1>Calificaciones</h1>

<table>
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Nota</th>
      <th>empresa id</th>
      <th colspan="3"></th>

    </tr>
  </thead>

  <tbody>
    <% @calificaciones.each do |calificacion| %>
      <tr>
        <td><%=calificacion.id %></td>
        <td><%= calificacion.nota %></td>
        <td><%=calificacion.enterprise_id%></td>
        <td><%= link_to 'Show', client_calificacions_path(id:current_client.id) %></td>
        <td><%= link_to 'Edit', edit_client_calificacion_path(@client,calificacion) %></td>
        <td><%= link_to 'Destroy',client_calificacion_path(@client,calificacion), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="wrapper" style="text-align: center">
<%= link_to "  Volver  ", clientes_path, class: "buttoncute" %>
</div>
