<h2>Editar cuenta</h2>

<div class="container">
<div class="wrapper">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
<div class="form-control">
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(Si no desea cambiar la contraseña deje el espacio en BLANCO)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> Caracteres como minimo </em>
    <% end %>
  </div>
  

  <div class="field">
    <%= f.label :confirmacion%><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :contraseña_antigua %> <i>(necesitamos su contraseña antigua para confirmar los cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Actualizar" %>
  </div>
<% end %>

<h3>Cancelar mi cuenta</h3>

<p><%= button_to "Cancelar", registration_path(resource_name), data: { confirm: "Estas seguro?" }, method: :delete %></p>

</div>
</div>
</div>
<div style="text-align: center">

<%= link_to "  Volver  ", :back, class: "buttoncute" %>
</div>