<h2> Registro clientes </h2>
<div class="container">
<div class="wrapper">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<% regiones ={"Región Metropolitana - Melipilla" => "melipilla",
 "Región Metropolitana - Chacabuco" => 'chacabuco',
 'Región Metropolitana - Maipo'=>'maipo',
 'Región Metropolitana - Cordillera'=>'cordillera',
 'Región Metropolitana - Talagante'=>'talagante',
 'Región Metropolitana - Santiago'=>'santiago',
 'Región I Tarapacá - Iquique'=>'iquique',
 'Región I Tarapacá - Tamarugal'=>'tamarugal',
 'Región II Antofagasta - El Loa'=>'el-loa',
 'Región II Antofagasta - Tocopilla'=>'tocopilla',
 'Región II Antofagasta - Antofagasta'=> 'antofagasta',
 'Región III Atacama - Copiapó'=>'copiapo',
 'Región III Atacama - Chañaral'=>'chanaral',
 'Región III Atacama - Huasco'=>'huasco',
 'Región IV Coquimbo - Choapa'=>'choapa',
 'Región IV Coquimbo - Limarí'=>'limari',
 'Región IV Coquimbo - Elqui'=>'elqui',
 'Región V Valparaíso - San Felipe de Aconcagua'=>'san-felipe-de-aconcagua',
 'Región V Valparaíso - Isla de Pascua'=>'isla-de-pascua',
 'Región V Valparaíso - Valparaíso'=>'valparaiso',
 'Región V Valparaíso - San Antonio'=>'san-antonio',
 'Región V Valparaíso – Marga Marga'=>'marga-marga',
 'Región V Valparaíso - Los Andes'=>'los-andes',
 'Región V Valparaíso - Quillota'=>'quillota',
 'Región V Valparaíso - Petorca'=>'petorca',
 'Región VI Libertador B. OHiggins - Cardenal Caro'=>'cardenal-caro',
 "Región VI Libertador B. O'Higgins - Cachapoal"=>'cachapoal',
 "Región VI Libertador B. O'Higgins - Colchagua"=>'colchagua',
 "Región VII Maule - Cauquenes"=>'cauquenes',
 'Región VII Maule - Talca'=>'talca',
 'Región VII Maule - Linares'=>'linares',
 'Región VII Maule - Curicó'=>'curico',
 'Región VIII Biobío - Arauco'=>'arauco',
 'Región VIII Biobío - Ñuble'=>'nuble',
 'Región VIII Biobío - Concepción'=>'concepcion',
 'Región VIII Biobío - biobio'=>'bio-bio',
 'Región IX La Araucanía - Malleco'=>'malleco',
 'Región IX La Araucanía - Cautín'=>'cautin',
 'Región X Los Lagos - Llanquihue'=>'llanquihue',
 'Región X Los Lagos - Palena'=>'palena',
 'Región X Los Lagos - Osorno'=>'osorno',
 'Región X Los Lagos - Chiloé'=>'chiloe',
 'Región XI Aysen - Aysen'=>'aysen',
 'Región XI Aysen - Capitán Prat'=>'capitan-prat',
 'Región XI Aysen - General Carrera'=>'general-carrera',
 'Región XI Aysen - Coihaique'=>'coihaique',
 'Región XII Magallanes - Antártica Chilena'=>'antartica',
 'Región XII Magallanes - Última Esperanza'=>'ultima-esperanza',
 'Región XII Magallanes - Magallanes'=>'magallanes',
 'Región XII Magallanes - Tierra del Fuego'=>'tierra-del-fuego',
 'Región XIV Los Ríos - Valdivia'=>'valdivia',
 'Región XIV Los Ríos - Ranco'=>'ranco',
 'Región XV Arica - Arica'=>'arica',
 'Región XV Arica - Parinacota'=>'parinacota'} %>
 <div class ="form-control">
  <%= devise_error_messages! %>

  <% if @client.errors.any? %>
 <div id="error_explanation">
  <ul>
   <% @client.errors.full_messages.each do |message| %>
   <li><%= message %></li>
   <% end %>
  </ul>
 </div>
<% end %>
    <div class="field">
      <%= f.label :rut, "Rut" %><br/ >
      <%=f.text_field :rut,autofocus:true, placeholder: "Debe agregar guion al Rut"%>
    </div>

    <div class="field">
      <%= f.label :nombre, "Nombre" %><br/ >
      <%=f.text_field :nombre, placeholder: "Ingrese Nombre" %>
    </div>

    <div class="field">
      <%= f.label :apellido, "Apellido" %><br/ >
      <%=f.text_field :apellido, placeholder: "Ingrese Apellido" %>
    </div>

    <div class="field">
      <%= f.label :telefono, "telefono" %><br/ >
      <%=f.text_field :telefono, placeholder: "Recordar Anteponer 9 a N° celular y 22 a N° de casa" %>
    </div>
    <div class="field">
      <%=f.label :Provincia%><br/>
      <%=f.select :provincia,regiones %>

    </div>
    <div>
        <%= f.label :fecha_de_nacimiento%><br />
        <%= f.text_field :date_of_birth, class: "datepicker", placeholder: "aaaa-mm-dd" %>
    </div>
    <div class="field">
       <%=f.label :Pregunta_secreta%>
    <option>Selecciona una pregunta</option>
    <%= f.select :security_question_id,SecurityQuestion.all.collect {|f| [ "#{f.name}",f.id ] }  %>
    </div>

    <div class="field">
    <%=f.label :"Ingrese la respuesta "%>
    <%=f.text_field :security_question_answer, placeholder: "Respuesta pregunta secreta" %>
    </div>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, placeholder: "Ingrese mail" %>
    </div>

    <div class="field">
      <%= f.label :contraseña %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> caracteres como minimo)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", placeholder: "Ingrese contraseña" %>
    </div>

    <div class="field">
      <%= f.label :confirmar_constraseña %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Ingrese contraseña" %>
    </div>
    <div class ="field">
    <%= f.label :"Ingrese captcha"%>
    <%= captcha_tag %>
    <%= text_field_tag :captcha %>
</div>
    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>

<% end %>
<%= render "clients/shared/links" %>
</div>
</div>
</div>
<div class ="wrapper" style="text-align: center">

<%= link_to "  Volver  ", root_path, class: "buttoncute" %>
</div>

