<!doctype html>
<html>
<header>

  <title>jQuery UI Datepicker - Estilo Cupertino</title>
      <link rel="css" href="jquery-ui-1.10.2.cupertino.css" />
      <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
      <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
      <script src="jquery.ui.datepicker-es.js"></script>

      <script>
      $(function () {
      $.datepicker3.setDefaults($.datepicker3.regional["es"]);
      $("#datepicker").datepicker({
        firstDay: 1
        });
        });
      </script>
      <meta charset="utf-8" />
      <title>jQuery UI Datepicker - onSelect</title>
      <link rel="css" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
      <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
      <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
      <script src="jquery.ui.datepicker-es.js"></script>

      <script>
      $(function () {
      $.datepicker3.setDefaults($.datepicker3.regional["es"]);
      $("#datepicker").datepicker3({
      firstDay: 1,
      onSelect: function (date) {
      alert(date)
      },
      });
      });
      </script>


 <div class="container">
      <nav class="nav" id="nav">
        <ul class="toggle">
          <li><a href="#top_content"></a>Inicio</li>
          <li><a href="#suscripcion">Suscripcion</a></li>
          <li><a href="#client_outer">Clientes</a></li>
          <li><a href="#empresa">Empresa</a></li>
          <li><a href="#contact">Contacto</a></li>
        </ul>
        <ul class="">
          <li><%=link_to "Inicio",root_path%></li>
          <li><a href="#suscripcion">Suscripcion</a></li>
          <li><%=link_to "Clientes",clientes_path%></li>
          <li><%=link_to "Empresas",profesionales_path%></li>
          <li><a href="#contact">Contacto</a></li>
        </ul>
        </div>

      </nav>
  </div>
</header>
<body>


<!--Top_content-->
  <div class="top_cont_inner">
    <div class="container">
      <div class="top_content">
        <div class="row">
          <div class="col-lg-5 col-sm-7">
            <div class="top_left_cont flipInY wow animated">
              <h3>Cotizar &amp; Facil!</h3>
              <h2>Reciba presupuestos de profesionales de tu zona:
Pintores, carpinteros, remodelación de viviendas, mudanzas &amp; más…</h2>
          </div>
        </div>
        <div class="col-lg-4 col-xs-7">
        <div class="top_left_cont flipInY wow animated">
            <%= image_tag "trabajadorok.png", :alt => "", :title => ""%>
        </div>
      </div>
      </div>
    </div>
  </div>
<section  id="service">
  <div class="container">
    <div class="service_area">
      <div class="row">
        <div class="col-lg-4">
          <div class="service_block">
            <div class="service_icon delay-03s animated wow  zoomIn"> <span><i class="fa fa-thumbs-o-up"></i></span> </div>
            <h3 class="animated fadeInUp wow">Es gratis</h3>
            <p class="animated fadeInDown wow">Reciba varios presupuestos de forma gratuita y sin compromiso.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service_block">
            <div class="service_icon icon2  delay-03s animated wow zoomIn"> <span><i class="fa fa-money"></i></span> </div>
            <h3 class="animated fadeInUp wow">Ahorre dinero</h3>
            <p class="animated fadeInDown wow">Reciba varios presupuesto para poder comparar.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service_block">
            <div class="service_icon icon3  delay-03s animated wow zoomIn"> <span><i class="fa fa-certificate"></i></span> </div>
            <h3 class="animated fadeInUp wow">Trabajos</h3>
            <p class="animated fadeInDown wow">Encuentre trabajos y aproveche nuestras ventajas.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Service-->
<section class="main-section" id="suscripcion">
<div class="suscripcion_section animated  fadeInUp wow">
  <div style="text-align: center">
    <h2 style="text-align: center"> Suscribete ahora! </h2>
  </div>
<ul>
  <li>
    <h3 style="text-align: center;">Clientes</h3>
    <br>
    <div style="text-align: center;">
    <br>
        <%=link_to "Suscribirse",new_client_registration_path, class: "buttoncute"%>
    </div>
    <br>
  </li>
  <br>
  <li>
    <h3 style="text-align: center;">Empresas</h3>
    <br>
      <div style="text-align: center;">
      <br>
        <%=link_to "Suscribirse",new_enterprise_registration_path, class: "buttoncute"%> 
      </div>
  </li>
</ul>
      </div>
    </div>
</section>
<br>

<section class="twitter-feed">
  <div class="container  animated fadeInDown delay-07s wow">
    <h3>Encuentre empresas en nuestro directorio, Consulte precios para su proyecto y escoga la mejor cotizacion</h3>
    <%=image_tag "constructor.jpg"%>
    </div>
</section>

<footer class="footer_section" id="contact">
  <div class="container">
    <section class="main-section contact" id="contact">
      <div class="contact_section">
        <h2>Contactenos</h2>
        <div class="row">
          <div class="col-lg-4">
            <div class="contact_block">
              <div class="contact_block_icon rollIn animated wow"><span><i class="fa-home"></i></span></div>
              <span> Napoleon 3565 Oficina 202, <br>
               Las Condes
              EDIFICIO STUDIO II - EL GOLF </span> </div>
          </div>
          <div class="col-lg-4">
            <div class="contact_block">
              <div class="contact_block_icon icon2 rollIn animated wow"><span><i class="fa-phone"></i></span></div>
              <span> 222-037-495 </span> </div>
          </div>
          <div class="col-lg-4">
            <div class="contact_block">
              <div class="contact_block_icon icon3 rollIn animated wow"><span><i class="fa-pencil"></i></span></div>
              <span> <a href="mailto:hello@butterfly.com"> easy.cotiza@gmail.com</a> </span> </div>
          </div>
        </div>
      </div>

    </section>
  </div>
 
</footer>
<script type="text/javascript">
    $(document).ready(function(e) {
        $('#header_outer').scrollToFixed();
        $('.res-nav_click').click(function(){
            $('.main-nav').slideToggle();
            return false    
            
        });
        
    });
</script> 
<script>
    wow = new WOW(
      {
        animateClass: 'animated',
        offset:       100
      }
    );
    wow.init();
    document.getElementById('').onclick = function() {
      var section = document.createElement('section');
      section.className = 'wow fadeInDown';
    section.className = 'wow shake';
    section.className = 'wow zoomIn';
    section.className = 'wow lightSpeedIn';
      this.parentNode.insertBefore(section, this);
    };
  </script> 
<script type="text/javascript">
  $(window).load(function(){
    
    $('a').bind('click',function(event){
      var $anchor = $(this);
      
      $('html, body').stop().animate({
        scrollTop: $($anchor.attr('href')).offset().top - 91
      }, 1500,'easeInOutExpo');
      /*
      if you don't want to use the easing effects:
      $('html, body').stop().animate({
        scrollTop: $($anchor.attr('href')).offset().top
      }, 1000);
      */
      event.preventDefault();
    });
  })
</script> 

<!--<script type="text/javascript">

$(window).load(function(){
  
  
  var $container = $('.portfolioContainer'),
      $body = $('body'),
      colW = 350,
      columns = null;

  
  $container.isotope({
    // disable window resizing
    resizable: true,
    masonry: {
      columnWidth: colW
    }
  });
  
  $(window).smartresize(function(){
    // check if columns has changed
    var currentColumns = Math.floor( ( $body.width() -30 ) / colW );
    if ( currentColumns !== columns ) {
      // set new column count
      columns = currentColumns;
      // apply width to container manually, then trigger relayout
      $container.width( columns * colW )
        .isotope('reLayout');
    }
    
  }).smartresize(); // trigger resize to set container width
  $('.portfolioFilter a').click(function(){
        $('.portfolioFilter .current').removeClass('current');
        $(this).addClass('current');
 
        var selector = $(this).attr('data-filter');
        $container.isotope({
      
            filter: selector,
         });
         return false;
    });
  
});

</script>


--> 

<script type="text/javascript">

   
  jQuery(document).ready(function($){     
// Portfolio Isotope
  var container = $('#portfolio-wrap'); 
  

  container.isotope({
    animationEngine : 'best-available',
      animationOptions: {
        duration: 200,
        queue: false
      },
    layoutMode: 'fitRows'
  }); 

  $('#filters a').click(function(){
    $('#filters a').removeClass('active');
    $(this).addClass('active');
    var selector = $(this).attr('data-filter');
      container.isotope({ filter: selector });
        setProjects();    
      return false;
  });
    
    
    function splitColumns() { 
      var winWidth = $(window).width(), 
        columnNumb = 1;
      
      
      if (winWidth > 1024) {
        columnNumb = 4;
      } else if (winWidth > 900) {
        columnNumb = 2;
      } else if (winWidth > 479) {
        columnNumb = 2;
      } else if (winWidth < 479) {
        columnNumb = 1;
      }
      
      return columnNumb;
    }   
    
    function setColumns() { 
      var winWidth = $(window).width(), 
        columnNumb = splitColumns(), 
        postWidth = Math.floor(winWidth / columnNumb);
      
      container.find('.portfolio-item').each(function () { 
        $(this).css( { 
          width : postWidth + 'px' 
        });
      });
    }   
    
    function setProjects() { 
      setColumns();
      container.isotope('reLayout');
    }   
    
    container.imagesLoaded(function () { 
      setColumns();
    });
    
  
    $(window).bind('resize', function () { 
      setProjects();      
    });

});
$( window ).load(function() {
  jQuery('#all').click();
  return false;
});
</script>
</body>
</html>
</html>
