<div class="container">
 <div style="text-align: center;">
  <div class="wrapper">
<%= form_for([@enterprise,@answer]) do |f| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class ="form-control">
<div class ="field" id= "cotizacionid">
  <%= f.text_field :cotizacion_id, value:params[:cotizacion]%>
</div>

  <div class="field">
    <%= f.label :answer_cotiza, "Ingrese su respuesta" %>
    <%= f.text_area :answer_cotiza, cols: 50, rows: 20, maxlength: @maximum_length,id:'review-text' %>
  </div>
  <div class="field">
    <%= f.label :Fecha, "Aceptacion de Fecha" %>
      <ul>
      <li><%= f.radio_button(:accept_date, "aceptar") %>
          <%= f.label(:accept_date, "Aceptar") %></li>
      <li>
          <%= f.radio_button(:accept_date, "rechazar") %>
          <%= f.label(:accept_date, "Rechazar") %></li>
      </ul>
  </div>
  <div class="field" id="fecha">
    <% f.label :fecha %>
    <%= f.date_select :fecha, :order => [:day, :month, :year],:use_month_names => [t(:en), t(:feb), t(:mar), t(:apr), t(:may), t(:jun), t(:jul), t(:aug), t(:sep), t(:oct), t(:nov), t(:dec)],:start_year => Time.now.year%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
</div>
</div>
</div>

<script type="text/javascript">
$("#cotizacionid").hide();
$("#fecha").hide();
$('input[name="answer[accept_date]"]').change(function() {
    var selected = $('input:checked[name="answer[accept_date]"]').val()
    if ( selected == "rechazar")
        $('#fecha').show();
    else
        $('#fecha').hide();
});
</script>

<script type="text/javascript">
 $(document).ready(function() {
      var answer_cotiza = $("#review_text");
      var counter     = $("#counter");
      var max_length  = counter.data("maximum-length");

      answer_cotiza.keyup(function() {
          counter.text(max_length - $(this).val().length);
      });


 });
</script>

