<%= form_for([@enterprise,@answer]) do |f| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class ="field" id= "cotizacionid">
  <%= f.text_field :cotizacion_id, value:params[:cotizacion]%>
</div>

  <div class="field">
    <%= f.label :answer_cotiza, "Respuesta a cotizacion " %>
    <%= f.text_area :answer_cotiza, cols: 50, rows: 20 %>
  </div>
  <div class="field">
    <%= f.label :Fecha, "Aceptacion de Fecha" %>
      <ul>
      <li><%= f.radio_button(:accept_date, "aceptar") %>
          <%= f.label(:accept_date, "Aceptar") %></li>
      <li>
          <%= f.radio_button(:accept_date, "rechazar") %>
          <%= f.label(:accept_date, "Rechazar") %></li>
      </ul>
  </div>
  <div class="field" id="fecha">
    <% f.label :fecha %>
    <%= f.text_field :fecha %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
$("#cotizacionid").hide();
$("#fecha").hide();
$('input[name="answer[accept_date]"]').change(function() {
    var selected = $('input:checked[name="answer[accept_date]"]').val()
    if ( selected == "rechazar")
        $('#fecha').show();
    else
        $('#fecha').hide();
});
</script>

