<p id="notice"><%= notice %></p>

<p>
  <strong>Answer cotiza:</strong>
  <%= @answer.answer_cotiza %>
</p>

<p>
  <strong>Accept date:</strong>
  <%= @answer.accept_date %>
</p>

<%= link_to 'Edit', edit_enterprise_answer_path(@enterprise,@answer) %> 
<%= link_to 'Back', enterprise_answers_path %>
