<h2>Forgot your password?</h2>

<%= form_for @client do |f| %>


  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>


  <div class="field">
  <%=f.label :"Responda la pregunta de seguridad"%>
  <p><%=SecurityQuestion.where(id: current_client.security_question_id).pluck(:name)%></p>
  </div>
  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>

