<p id="notice"><%= notice %></p>
<div style="text-align: center;">

<h1 style="color:red"><strong>Respuestas recibidas</strong></h1>
</div>
<div class ="container">
<div class="form-control" style="text-align: center;">


    <% @respuestas.each do |respuesta| %>
  <ul>
      <%@cotizaciones.each do |cotizacion|%>
        <%if cotizacion.id ==respuesta.cotizacion_id%>
        <h3>Cotizacion n° <%=cotizacion.id%></h3>
          
           <li> <textarea rows="10" cols="90" readonly><%= cotizacion.descripcion %> 
            </textarea></li>
      
        <%end%>
      <%end%>
      <h2>--------------------------------------------</h2>
       <div class="form-control" style="text-align: left">

        <li>Fecha : <%= respuesta.fecha %></li>
        <li>Respuesta :<%= respuesta.answer_cotiza %></li>
      </div>
      
    <% end %>

<br>
</div>


<div class="wrapper" style="text-align: center">


<%= link_to "  Volver  ", :back, class: "buttoncute" %>
</div>
</div>
