<h2 style="text-align: center">Editar cuenta </h2>

<div class="container">
  <div class="wrapper">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :multipart => true}) do |f| %>
        <%= devise_error_messages! %>
          <div class ="form-control">
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
             <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="field">
              <% if current_enterprise.imagen.url.present? %>
                  <% image_tag(current_enterprise.imagen.url) %>
                  <%= f.label :remover_imagen do %>
                    <%= f.check_box :remove_imagen %>
                    <%= f.file_field :imagen %>
                    <%= f.hidden_field :imagen_cache %>
                 <% end %>
              <%end%>
            </div>

  <div class= "field">
      <%=f.label :Categoria%>
      <%= f.select :category_id, Category.all.collect {|f| [ "#{f.nombre}",f.id ] }  %>
      </div>
      
  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %><br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>

<% end %>

<h3>Cancelar mi cuenta</h3>

<p><%= button_to "Cancelar", registration_path(resource_name), data: { confirm: "Estas seguro?" }, method: :delete, class: "buttoncute"%></p>
</div>
</div>
</div>

<div style="text-align: center">
<%= link_to "Volver", :back, class: "buttoncute"%>
</div>
