<!DOCTYPE html>
<html>
  <head>
    <title>Easycotiza</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="icon" href="favicon.png" type="image/png">
    <link href="stylesheet/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="stylesheet/style.css" rel="stylesheet" type="text/css">
    <link href="stylesheet/linecons.css" rel="stylesheet" type="text/css">
    <link href="stylesheet/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="stylesheet/responsive.css" rel="stylesheet" type="text/css">
    <link href="stylesheet/animate.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,900,700,700italic,400italic,300italic,300,100italic,100,900italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Dosis:400,500,700,800,600,300,200' rel='stylesheet' type='text/css'>
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top " style="background-color: #01DF74">
    <div class="container">
      <div class="navbar-header">
        <table>
          <tr>
            <td><h2 style= "color:red; text-align: left">Easycotiza</h2></td>
            <td><h2 style="text-align: right;"><%=image_tag("easycotiza-logo.png", :width => 70, :height => 50)%></h2></td>
          </tr>
        </table>
        </div>
      </div>
  </nav>

    <script type="text/javascript">
  $(document).ready(function(e) {
        $('.res-nav_click').click(function(){
    $('ul.toggle').slideToggle(600) 
      }); 
      
  $(document).ready(function() {
$(window).bind('scroll', function() {
         if ($(window).scrollTop() > 0) {
             $('#header_outer').addClass('fixed');
         }
         else {
             $('#header_outer').removeClass('fixed');
         }
    });
  
    });
    

        }); 
function resizeText() {
  var preferredWidth = 767;
  var displayWidth = window.innerWidth;
  var percentage = displayWidth / preferredWidth;
  var fontsizetitle = 25;
  var newFontSizeTitle = Math.floor(fontsizetitle * percentage);
  $(".divclass").css("font-size", newFontSizeTitle)
}
</script>


    <%= yield %>
  </body>
</html>
