<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email, autofocus: true, :id => 'email'%>
  </div>

  <div class="field">
    <%= link_to "Send me reset password instructions",nueva_contrasena_path( @email), :id => 'save_search'%>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>

<% end %>

<%= render "clients/shared/links" %>
<script type="text/javascript">
$(function() {
    // Add click event binding to `Save search` link
    $("#save_search").on("click", function(event) {
        event.preventDefault(); // don't trigger default

        // get the value inside the text field
        var email = $("#email").val();

        $.get('/nueva_contrasena', {email}, function(data) {
            // log the result from the server, or whatever...
            console.log(data);
        },"json");
    });
});

</script>